@import url(components/LocationCard.css);
html{
    --color-blue: #369FFF;
    --color-dark-blue: #006ED3;

}

body{
    font-family: 'Manrope';
}


.page{
    display: grid;
    grid-template-columns: 100px auto auto ;
}
.page > * {
    padding: 20px;
}